In [1]:
from config.config_loader import ConfigLoader
from data.dataset_builder import prepare_dataset_dicts, data_split, convert_date
from data.transforms import get_train_transforms,  get_valid_transforms
from data.data_loaders import train_loaders,  valid_loaders

In [2]:
from models import generate_unet_model, generate_resnet3d_model, prepare_model

In [5]:
conf = ConfigLoader("/tf/yilian618/ABD_Trauma_detection/config/multiple/pretrain_resnet_unet_multidataset_256_64_nagative.ini")

In [6]:
setting = conf.data_setting

In [7]:
import pandas as pd
All_data = pd.read_csv("/tf/yilian618/rsna_train_new_v2.csv")
no_seg = pd.read_csv("/tf/yilian618/nosegmentation.csv")
All_data = All_data[~All_data['file_paths'].isin(no_seg['file_paths'])]
# Assuming All_data is a pandas DataFrame and 'file_paths' is one of its columns
All_data = All_data[~All_data['file_paths'].isin(["/SSD/rsna-2023/train_images_new/63501/SDY00001/1.2.123.12345.1.2.3.63501.7194.nii.gz"])]
test_data = pd.read_csv("/tf/jacky831006/ABD_classification/rsna_test_20240531.csv")
df_all = All_data[~All_data['file_paths'].isin(test_data['file_paths'].values)]

pos_data = df_all[df_all['any_injury']==1]
neg_data = df_all[df_all['any_injury']==0].sample(n=800, random_state=1)
df_all_rsna = pd.concat([pos_data, neg_data])

 # Data progressing
All_data = pd.read_csv(
    "/tf/yilian618/ABD_classification/ABD_venous_all_20230709_for_label_new.csv"
)
rm_list = [21410269, 3687455, 21816625, 21410022, 39010142, 20430081]
# rm_list = [21410269, 21816625, 21410022,11834]
All_data = All_data[~All_data.chartNo.isin(rm_list)]
All_data.loc[:, ["kid_inj_lt", "kid_inj_rt", "liv_inj", "spl_inj"]] = All_data.loc[
    :, ["kid_inj_lt", "kid_inj_rt", "liv_inj", "spl_inj"]
].fillna(0)
All_data = All_data.dropna(subset=["label"])
All_data = All_data[All_data.label != "exclude"]
# 將2016年的資料取出當test
All_data["TRDx_ER_arrival_time_tmp"] = pd.to_datetime(All_data["TRDx_ER_arrival_time"])
All_data["TRDx_ER_arrival_time_tmp"] = All_data["TRDx_ER_arrival_time_tmp"].dt.strftime(
    "%Y%m%d"
)
All_data["examdate_tmp"] = All_data["examdate"].apply(convert_date)
All_data["examdate_tmp"] = All_data["examdate_tmp"].fillna(
    All_data["TRDx_ER_arrival_time_tmp"]
)
All_data["year"] = All_data["examdate_tmp"].dt.year

df_all_cgmh = All_data

In [8]:


train_df_rsna, valid_df_rsna, test_df_rsna = data_split(
    df_all_rsna, test_data=test_data, test_fix=None, source="RSNA", ratio=setting.data_split_ratio, seed=setting.seed
)
train_df_cgmh, valid_df_cgmh, test_df_cgmh = data_split(
    df_all_cgmh,test_data=None, test_fix=2016, source="CGMH", ratio=setting.data_split_ratio, seed=setting.seed
)

In [9]:
train_df_cgmh = train_df_cgmh[:10]
train_df_rsna = train_df_rsna[:10]

In [21]:
len(train_df_cgmh+train_df_rsna)

20

In [10]:
train_df_cgmh

,index,Unnamed: 0,chartNo,label,note,liv_pos,liv_prob,kid_prob,kid_inj_lt,kid_inj_rt,...,inj_site_no,inj_solid.1,rand,TRDx_ER_arrival_time_tmp,examdate_tmp,year,kid_inj_tmp,liv_inj_tmp,spl_inj_tmp,group_key
157,163,163,2493754,neg,NaN,0,0,0,0.0,0.0,...,0,0,0.147744,NaN,2015-07-26,2015.0,0,0,0,l0_k0_s0
1248,1296,1296,21622722,neg,NaN,0,0,0,0.0,0.0,...,0,0,0.329948,NaN,2014-01-19,2014.0,0,0,0,l0_k0_s0
793,825,825,21086468,neg,NaN,0,0,0,0.0,0.0,...,0,0,0.605051,20130909,2013-09-10,2013.0,0,0,0,l0_k0_s0
860,895,895,21238749,neg,NaN,0,0,0,0.0,0.0,...,0,0,0.941550,20090108,2009-01-08,2009.0,0,0,0,l0_k0_s0
398,414,414,3914277,neg,NaN,0,0,0,0.0,0.0,...,0,0,0.957712,NaN,2014-06-12,2014.0,0,0,0,l0_k0_s0
661,688,688,20369298,neg,NaN,0,0,0,0.0,0.0,...,0,0,0.875133,20081228,2008-12-28,2008.0,0,0,0,l0_k0_s0
1048,1092,1092,21427839,neg,NaN,0,0,0,0.0,0.0,...,0,0,0.190422,20110601,2011-06-01,2011.0,0,0,0,l0_k0_s0
64,66,66,1996548,neg,NaN,0,0,0,0.0,0.0,...,0,0,0.951291,NaN,2012-06-16,2012.0,0,0,0,l0_k0_s0
70,73,73,2020729,neg,huge liver cyst,0,0,0,0.0,0.0,...,0,0,0.953583,NaN,2011-06-02,2011.0,0,0,0,l0_k0_s0
477,495,495,8744440,neg,NaN,0,0,0,0.0,0.0,...,0,0,0.969516,NaN,2014-08-04,2014.0,0,0,0,l0_k0_s0

In [11]:
setting.data_split_ratio

(0.8, 0.2, 0.2)

In [12]:
from config.config_loader import ConfigLoader, TrainingProgressTracker
tracker = TrainingProgressTracker()

In [10]:
tracker.epoch_loss_values

[]

In [13]:
class_type = "multiple"

In [14]:
train_transforms = get_valid_transforms(class_type=class_type, cfg = conf)

In [17]:
train_loaders

<function data.data_loaders.train_loaders(cfg: config.config_loader.ConfigLoader, train_df, train_df_extra: Union[object, NoneType] = None, data_source: str = 'cgmh', class_type: str = 'multiple', train_transforms=None)>

In [20]:
len(train_loader)

2

In [18]:
train_loader = train_loaders(conf, train_df_cgmh, None, data_source="cgmh", class_type=class_type, train_transforms=train_transforms)

Loading dataset: 100%|██████████| 10/10 [00:40<00:00,  4.07s/it]

In [12]:
import torch
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

In [14]:
model = prepare_model(conf, device, resnet_depth=50, n_input_channels=1, class_type=class_type, pretrain=True)

In [5]:
from utils.loss import LossBuilder

In [13]:
loss_function = LossBuilder(conf, df_cgmh = df_all_cgmh, df_rsna = df_all_rsna, class_type=class_type, device=device).get_loss_function()

In [16]:
loss_function

MultiSegLossFull(
  (amse): AMSELossFull()
)

In [5]:
from data.dataset_builder import prepare_dataset_dicts, data_split, load_cgmh_data, load_rsna_data

In [6]:
df_all_rsna = load_rsna_data(
    rsna_path="/tf/yilian618/rsna_train_new_v2.csv",
    noseg_path="/tf/yilian618/nosegmentation.csv",
    test_path="/tf/jacky831006/ABD_classification/rsna_test_20240531.csv",
    seed=setting.seed,
    neg_sample=800,
)

df_all_cgmh = load_cgmh_data(
    path="/tf/yilian618/ABD_classification/ABD_venous_all_20230709_for_label_new.csv",
    rm_list=[21410269, 3687455, 21816625, 21410022, 39010142, 20430081]
)

In [7]:
df_all_cgmh

,Unnamed: 0,chartNo,label,note,liv_pos,liv_prob,kid_prob,kid_inj_lt,kid_inj_rt,liv_inj,...,AD_Dx_note,liver_inj_no,kidney_inj_no,spleen_inj_no,inj_site_no,inj_solid.1,rand,TRDx_ER_arrival_time_tmp,examdate_tmp,year
0,0,135574,neg,NaN,0,0,0,0.0,0.0,0.0,...,NaN,0,0,0,0,0,0.603099,NaN,2013-08-09,2013.0
2,2,164056,neg,NaN,0,0,0,0.0,0.0,0.0,...,1. L4 compression fracture ==> Operation on 12...,0,0,0,0,0,0.650862,20101123,2010-11-23,2010.0
3,3,172868,neg,NaN,0,0,0,0.0,0.0,0.0,...,NaN,0,0,0,0,0,0.909722,NaN,2011-01-12,2011.0
4,4,187181,neg,NaN,0,0,0,0.0,0.0,0.0,...,NaN,0,0,0,0,0,0.886861,NaN,2014-05-30,2014.0
5,5,222662,neg,NaN,0,0,0,0.0,0.0,0.0,...,NaN,0,0,0,0,0,0.852592,NaN,2016-03-04,2016.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1546,1546,99027649,pos,NaN,1,0,0,0.0,0.0,3.0,...,; ;;;1. Liver lacerationï¼?grade IVï¼...,1,0,0,1,1,0.180260,20160709,2016-07-09,2016.0
1547,1547,99036097,pos,NaN,0,0,0,2.0,0.0,0.0,...,1.left kidney contusion grade II,0,1,0,1,1,0.158992,20120615,2012-06-15,2012.0
1548,1548,99077740,pos,NaN,1,0,0,0.0,1.0,3.0,...,; 860.0 TRAUMATIC PNEUMOTHORAX WITHOUT MENT...,1,0,1,2,1,0.201017,20100423,2010-04-23,2010.0
1549,1549,99110268,pos,NaN,0,1,0,0.0,0.0,1.0,...,; ;;;1.Traumatic SAH2.Grade I liver l...,1,0,0,1,1,0.374261,20130527,2013-05-27,2013.0
1550,1550,21530095,pos,NaN,0,0,0,0.0,0.0,0.0,...,; ;;;1. Cranial base fracture with pn...,0,0,1,1,1,0.453142,20120915,2012-09-17,2012.0

In [11]:
from utils.visualizer import plot_loss_metric

In [15]:
from utils.data_utils import resize_tensor, str2num_or_false

In [13]:
from utils.metrics import f1_score, dice_score

In [16]:
from model_engine.trainer_and_evaluator import Trainer, Evaluator

In [22]:
from utils.metrics import confusion_matrix_CI, confusion_matrix_CI_multi

In [30]:
nums = [1,2,3,4,5,6,7]
k = 3

In [35]:
nums2 = []
nums2 = reversed(nums[:k])
print(list(nums2))

[3, 2, 1]

In [36]:
nums.reverse()

In [37]:
nums

[7, 6, 5, 4, 3, 2, 1]

In [40]:
k=3
k %= 7

In [41]:
k

3

In [45]:
left = [1]*7

In [44]:
left

[1, 1, 1, 1, 1]

In [46]:
nums = [1,2,3,4,5,6,7]

In [55]:
for i in range(7,0,-1):
    print(i)

7
6
5
4
3
2
1